<section class="thanks-for-order">
    <div class="container">
    <div class="thanks-for-order-title">Дякуємо за ваше замовлення</div>
        <div class="line-throw"></div>
    <div class="thanks-info-block">
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Номер вашого
                замовлення:</div>
            <div class="thanks-info-item-value"><span class="blue-underline-text">102586525</span></div>
        </div>
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Кількість товарів:</div>
            <div class="thanks-info-item-value">1 шт.</div>
        </div>
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Сума замовлення:</div>
            <div class="thanks-info-item-value">124,98 грн шт</div>
        </div>
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Спосіб доставки:</div>
            <div class="thanks-info-item-value">Самовивіз (безкоштовно)</div>
        </div>
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Магазини доставки:</div>
            <div class="thanks-info-item-value">ТЦ “Нова Лінія” Київська обл., смт. Чабани,
                Одеське шосе, 8</div>
        </div>
        <div class="thanks-info-item">
            <div class="thanks-info-item-name">Можливо забрати:</div>
            <div class="thanks-info-item-value">Сьогодні</div>
        </div>
        <div class="new-sales-block">
            <div class="new-sales-title">Дізнавайся про нові акції!</div>
            <input type="text" class="new-sales-input" placeholder="Введіть Ваш e-mail">
            <button class="new-sales-btn">Підписатися</button>
        </div>
    </div>
    <div class="order-messege-block">
        <div class="order-messege-icon-wrap"><div class="order-messege-icon">!</div></div>
        <div class="order-messege-text">Ваше замовлення вже опрацьоване та очікує в магазині
            за адрессою: <span>Київська обл., смт. Чабани, Одеське шосе, 8.</span>
            Як тільки Ви отримаєте SMS з підтвердженнясм -
            запрошуємо відвідати обраний магазин “Нова Лінія” для
            отримання замовлення.
        </div>
    </div>
        <div class="ask-question-block">
            <div class="ask-question-title">З’явилися запитання?</div>
            <div class="ask-question-text">Зателефонуйте <a class="blue-underline-text" href="javascript:void(0)">(044) 393 76 26</a>  або напишіть нам
                <a href="javascript:void(0)" class="blue-underline-text">e-support@nl.ua</a>  , ми обов’язково відгукнемось.</div>
        </div>
        <a href="javascript:void(0)" class="continue-purchase blue-underline-text">Продовжити покупки &#8250;</a>
    </div>
</section>