.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

/*style the arrow inside the select element:*/
.select-selected{
  font-weight: 300;
  font-size: 14px;
}
.select-selected:after {
  position: absolute;
  content: "";
  font-size: 20px;
  top: 7px;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}
.select-selected:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: $bggray;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-width: 0 4px 7px 4px;
  border-color: transparent transparent #ffffff transparent;
}

/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
  height: 20px;
  //padding: 11.5px 10px;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  //top: 100%;
  left: -1px;
  //right: 0;
  z-index: 99;
  border: 1px solid #d7d7e4;
  width: 100%;
  div {
    //border: 1px solid #d7d7e4;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    &:first-child {
      //border: 1px solid #d7d7e4;
    }
  }
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}